@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

section[epub|type~="prologue"]{
	margin-top: 20vh;
}

/* Dedication */
section[epub|type~="dedication"]{
	margin-top: 20vh;
	text-align: center;
}

section[epub|type~="dedication"] > *{
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
}

section[epub|type~="dedication"] > p{
	text-align: initial;
}

body [xml|lang="la"]{
	font-style: italic;
}

#dedication header,
#dedication p[xml|lang="la"]{
	font-variant: small-caps;
}
