@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

section[epub|type~="prologue"]{
	margin-top: 20vh;
}

/* Dedication */
section[epub|type~="dedication"]{
	text-align: center;
	text-indent: 0;
}

section[epub|type~="dedication"] > *{
	margin: auto;
	margin-top: 1em;
	max-width: 80%;
}

section[epub|type~="dedication"] p + p{
	margin-top: 1em;
	text-indent: 0;
}

body [xml|lang="la"]{
	font-style: italic;
}

#dedication p[xml|lang="la"]{
	font-variant: small-caps;
}

p[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
}
