@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

/* Dedication */
section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] > *{
	margin: auto;
	margin-top: 1em;
	max-width: 80%;
}

section[epub|type~="dedication"] p + p,
section[epub|type~="dedication"] footer{
	margin-top: 1em;
}

section[epub|type~="dedication"] footer{
	font-variant: small-caps;
	text-align: right;
}

body [xml|lang="la"]{
	font-style: italic;
}
